@font-face {
  font-family: 'Gilroy';
  font-weight: 300;
  src: url(./fonts/Gilroy-Light.ttf);
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 400;
  src: url(./fonts/Gilroy-Regular.ttf);
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 700;
  src: url(./fonts/Gilroy-Semibold.ttf);
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 800;
  src: url(./fonts/Gilroy-Bold.ttf);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
p {
  text-decoration: none;
}

a,
span,
p {
  font-family: 'Gilroy', 'Sans-Serif';
  color: #282828;
  font-size: 16px;
  font-weight: 500;
}
